/InClass/nbproject/private/
/IteratorsClass/nbproject/private/
/IteratorClass/nbproject/private/
/IteratorClass/build/
/StackQueueTest/nbproject/private/
/MVCDemo/nbproject/private/
/MVCDemo/build/
/MVCDemo2/nbproject/private/
/SetTest/nbproject/private/
/SetTest/build/
/FinalProjectGUI/nbproject/private/
/FinalProjectGUI/dist/
/FinalProjectGUI/build/
/SerchingTest/nbproject/private/
/SortingTest/nbproject/private/
/SortingTest/build/
/SortingTest/dist/
/mavenDemo/nbproject/
/mavenDemo/target/
/Test/nbproject/private/
/DataBaseGui/nbproject/private/